.discount-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.user-icon {
  position: relative;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border: 2px solid #3498db;
  border-radius: 25px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.discount-list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  transition: grid-template-columns 0.3s ease-in-out;
  padding: 20px;
}

.discount-item {
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-position: top center;
  height: 280px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
}

.discount-item:hover {
  transform: scale(1.05);
}

.discount-logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bank-logo,
.discount-logo {
  top: 12px;
  object-fit: contain;
  background-color: #fff;
}

.bank-logo {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: 6px solid rgba(67, 90, 179, 0.6);
}

.discount-logo {
  border-radius: 10px;
  height: 70px;
  width: 70px;
}

.discount-details {
  flex-grow: 1;
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.discount-details h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.discount-details p {
  margin-top: 10px;
  color: #666;
  font-size: 0.9rem;
}
