.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius:10px;
  overflow: hidden;
}
.card-template {
  height: 90px;
  position: relative;
}
.discount-image {
  aspect-ratio: 32/9;
  width: 100%;
  height: 90px;
  object-fit: cover;
  background-position: top;
}

.card-template-logo {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.bank-logo {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #fff;
  border: 6px solid rgba(67, 90, 179, 0.6);
  margin: 20px;
}

.bank-logo_url {
  height: 70px;
  width: 70px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.card-content {
  padding: 15px;
}

.discount-details{
color:rgb(130,132,140);
}

.discount-details h3{
color:#3871e0;
font-size:1rem;
font-weight: 700;
margin-bottom: 10px;
text-align: start;
}
