body {
  font-family: Arial, sans-serif;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  min-width: 280px;
  z-index: 1; /* Para que el menú se superponga */
}

.nav-logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-right: 5px;
}

.nav-logo h3 {
  margin: 0;
  line-height: 1;
}

.menu-icon {
  cursor: pointer;
  display: none; /* Ocultar el ícono en pantallas grandes */
}

.menu-icon .icon {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.menu-icon.open .icon:nth-child(1) {
  display: none;
}

.menu-icon.open .icon:nth-child(2) {
  transform: rotate(45deg);
}

.menu-icon.open .icon:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  margin: 0 20px;
}

.nav-button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Tamaño fijo para todos los botones */
  height: 50px; /* Tamaño fijo para todos los botones */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: #333; /* Color del texto dentro de los botones */
}

.nav-icon {
  margin-right: 10px;
}

.nav-button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007aff;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-item a:hover {
  color: #ddd;
  transition: 0.3s ease-in-out;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.nav-item:hover .submenu {
  display: block;
}

.subcategory-item {
  margin-top: 10px;
}

.subcategory-item a {
  display: block;
  color: #000; /* Texto negro */
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.subcategory-item a:hover {
  background-color: rgba(
    200,
    200,
    200,
    0.3
  ); /* Fondo semi-transparente al hover */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Mostrar el ícono en dispositivos móviles */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-item a {
    width: 100%;
    padding: 12px 20px;
    text-align: center;
  }

  .nav-item:hover .submenu {
    display: none; /* Ocultar submenú en dispositivos móviles */
  }
}
